<div class="autosize-input">
  <input aria-autocomplete="list"
         autocapitalize="none"
         autocomplete="off"
         autocorrect="off"
         spellcheck="false"
         style={{calculate-size this.inputRef @minWidth @value}}
         tabindex="0"
         type="text"
         value={{@value}}
         {{on "blur" this.onBlur}}
         {{on "focus" this.onFocus}}
         {{on "input" this.onInput}}
         {{on "keydown" this.onKeyDown}}
         {{on "keyup" this.onKeyUp}}
         {{ref this "inputRef"}}>
</div>
