<div class="autosize-input">
  <input aria-autocomplete="list"
         autocapitalize="none"
         autocomplete="off"
         autocorrect="off"
         spellcheck="false"
         style={{this.style}}
         tabindex="0"
         type="text"
         value={{@value}}
         {{on "input" this.onInput}}
         {{on "keyup" this.onKeyUp}}
         {{ref this "inputRef"}}>
</div>
