<div class={{join " " "tf-option" selected disabled hover}}
     ...attributes
     {{on "click" this.onClick}}
     {{on "mouseout" this.onMouseOut}}
     {{on "mouseover" this.onMouseOver}}>
  {{yield}}
</div>
