<div class="tf-value-container"
     ...attributes
     {{on "click" this.onClick}}
     {{on "dblclick" this.onDblClick}}
     {{on "keydown" this.onKeyDown}}
     {{on "mouseup" this.onMouseDown}}>
  {{yield}}
</div>
